{% extends 'base.html' %}
{% load static %}
{% block title %}О Компании{% endblock %}

{% block content %}
<div class="w-100">
    <div class="page-titles w-100">
        <div class="carousel-item active w-100" style="height: 300px;">
            <img src="{% static 'img/contact.png' %}" class="w-100" alt="Snow" style="height: 300px;">
            <div class="carousel-caption d-none d-md-block">
                <h1 >Контакты</h1>
                <div class="breadcrumbs">
                    <a class="text-light" href="{% url 'home' %}">Главная</a> <span> / </span> Контакты
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container p-4">
    <div class="row mb-4">
        <div class="col-4"><h4>Круглосуточная диспетчерская служба</h4></div>
        <div class="col-4"><h4>Эл. почта</h4></div>
        <div class="col-4"><h4>Адрес</h4></div>
    </div>
    <div class="row">
        <div class="col-4"><h3 class="font-weight-bold">+7 (343) 213-00-97</h3></div>
        <div class="col-4"><h3 class="font-weight-bold">sales@stb66.ru</h3></div>
        <div class="col-4"><h3 class="font-weight-bold">г. Екатеринбург, улица Суходольская, 161</h3></div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6">
            <h2>Контактная информация</h2>
            <div>
                <p><strong>Телефоны:</strong></p>
                <p><strong>Заказать бетон:</strong> +7 (343)213-00-97</p>
                <p><strong>Бухгалтерия:</strong> +7 (922) 188-60-90</p>
                <p><strong>Директор:</strong> +7 (952)131-60-30</p>
                <p><strong>Адреса заводов:</strong></p>
                <p><span>г. Екатеринбург, улица Суходольская, 161</span></p>
                <p><span>г. Екатеринбург, улица Турбинная, 41а</span></p>
                <p><strong>Эл.почта:</strong> sales@stb66.ru</p>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <h2>Реквизиты</h2>
            <div>
                <p>Общество с ограниченной ответственностью «СтройТрансБетон»</p>
                <p><strong>ИНН/КПП:</strong> 6679098558/667901001</p>
                <p><strong>ОГРН:</strong> 1169658100952</p>
                <p><strong>Юр.адрес:</strong> 620073, Свердловская обл. г. Екатеринбург , ул. Академика Шварца д.4 кв.27</p>
                <p><strong>р/с:</strong> 40702810604000006889</p>
                <p><strong>БИК:</strong> 046577906</p>
                <p>Уральский Филиал АО «Райфайзенбанк» k/с 30101810100000000906</p>
                <p><strong>Директор:</strong> Корякина Валентина Михайловна</p>
            </div>
        </div>
    </div>
</div>
<style>
    .container{
    max-width: 1140px;
    }
    .content{
    padding-right: 300px;
    margin-bottom: 60px;
    position: relative;
    }
    .breadcrumbs{
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 300;
    color: #ccc;
    }

    .selection{
    padding: 60px 0;
    }
</style>
{% endblock %}

