{% extends 'base.html' %}

{% block title %}О Компании{% endblock %}
{% load static %}
{% block content %}

<div class="w-100">
    <div class="page-titles w-100">
        <div class="carousel-item active w-100" style="height: 300px;">
            <img src="{% static 'img/contact.png' %}" class="w-100" alt="Snow" style="height: 300px;">
            <div class="carousel-caption d-none d-md-block">
                <h1>Цены</h1>
                <div class="breadcrumbs">
                    <a class="text-light" href="{% url 'home' %}">Главная</a> <span> / </span> Цены
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container " style="margin-top: 50px;}">
    <table class="table table-striped">
        <thead>
            <tr>
                <td >Смесь</td>
                <td>Марка</td>
                <td colspan="4">Цена</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>руб./м3</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td ><a class="text-dark" href="">БСТ В7,5 (БМ100)</a></td>
                <td>М 100</td>
                <td>2400</td>
            </tr>
            <tr>
                <td><a class="text-dark" href="">БСТ В10 (БM150)</a></td>
                <td>М 150</td>
                <td>2600</td>
            </tr>
            <tr>
                <td ><a class="text-dark" href="">БСТ B15 (БM200)</a></td>
                <td>М 200</td>
                <td>2800</td>
            </tr>
            <tr>
                <td><a class="text-dark" href="">БСТ B20 (БM250)</a></td>
                <td>М 250</td>
                <td>2900</td>
            </tr>
            <tr>
                <td ><a class="text-dark" href="">БСТ В22,5 (БМ300)</a></td>
                <td>М 300</td>
                <td>3100</td>
            </tr>
            <tr>
                <td>БСТ В22,5 (БМ300)</td>
                <td>М 300</td>
                <td>3400</td>
            </tr>
            <tr>
                <td><a class="text-dark" href="">БСТ B25 (БM350)</a></td>
                <td>М 350</td>
                <td>3450</td>
            </tr>
            <tr>
                <td>БСТ B25 (БM350)</td>
                <td>М 350</td>
                <td>3600</td>
            </tr>
            <tr>
                <td><a class="text-dark" href="">БСТ B30 (БM400)</a></td>
                <td>М 400</td>
                <td>3600</td>
            </tr>
            <tr>
                <td>БСТ B30 (БM400)</td>
                <td>М 400</td>
                <td>4000</td>
            </tr>
            <tr>
                <td>Раствор на отсеве БСМ В3F75П4</td>
                <td>-</td>
                <td>2000</td>
            </tr>
            <tr>
                <td>Раствор на отсеве БСМ В5F75П4</td>
                <td>-</td>
                <td>2150</td>
            </tr>
            <tr>
                <td>Раствор на отсеве БСМ В7,5F75П4</td>
                <td>-</td>
                <td>2350</td>
            </tr>
            <tr>
                <td>Раствор на отсеве В12,5F100П4</td>
                <td>-</td>
                <td>2500</td>
            </tr>
            <tr>
                <td>Раствор на отсеве БСМ В15F100П4</td>
                <td>-</td>
                <td>2700</td>
            </tr>
            <tr>
                <td>Раствор на отсеве БСМ В20F100П4</td>
                <td>-</td>
                <td>3000</td>
            </tr>
            <tr>
                <td>Раствор на отсеве БСМ В22,5F100П4</td>
                <td>-</td>
                <td>3350</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container" style="margin-top: 50px; margin-bottom: 50px;">
    <h2 style="text-align: center; font-weight: bold;">Как формируется цена за куб бетона?</h2>
    <p><strong>Марка цемента.</strong> Для мелкого ремонта и частного строительства небольших одноэтажных зданий используют цемент недорогих марок. Их эксплуатационных качеств достаточно, чтобы выполнять возложенные функции. Для заливки фундаментов многоэтажных зданий, строительства мостов и автомагистралей используют бетон из высокомарочного цемента. Соответственно цена такого бетона за 1 м3 с доставкой по Екатеринбургу будет значительно выше.</p>
    <p><strong>Наличие специальных добавок</strong> влияет на цену за куб бетона. Исходя из условий строительства и дальнейшей эксплуатации готового сооружения, в раствор могут добавляться специальные химические вещества с целью повысить основные показатели: морозоустойчивость, пластичность, водонепроницаемость, жесткость и др.</p>
    <p><strong>Доставка по Екатеринбургу.</strong> Цена бетона за 1м3 может существенно отличаться из-за объема приобретенного раствора. Небольшая партия до 5 кубов обойдется дороже в пересчете на 1 м3, чем 10-15 кубов.</p>
    <p><strong>Наполнители.</strong> Для приготовления различных растворов используют наполнители: гравий, щебень, песок, гранит, др. Цена куба бетонного раствора будет формироваться в зависимости от стоимости наполнителей и доли в готовой продукции.</p>
</div>

<div class="container" style="margin-top: 50px;">
    <h2 style="text-align: center; font-weight: bold;" >Классы бетона</h2>
    <table class="table table-striped">
        <thead>
        <tr style="font-weight: bold;">
            <td>Марка</td>
            <td>Класс</td>
            <td>Прочность (кгс/кв.см.)</td>
            <td>Морозостойкость</td>
            <td>Водонепроницаемость</td>
            <td>Подвижность</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="font-weight: bold;">100</td>
            <td>В 7,5</td>
            <td>98</td>
            <td>F 50</td>
            <td>W2</td>
            <td>П3</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">150</td>
            <td>В 12,5</td>
            <td>164</td>
            <td>F 50</td>
            <td>W2</td>
            <td>П3</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">200</td>
            <td>В 15</td>
            <td>196</td>
            <td>F 100</td>
            <td>W4</td>
            <td>П3</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">250</td>
            <td>В 20</td>
            <td>262</td>
            <td>F 150</td>
            <td>W6</td>
            <td>П3</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">300</td>
            <td>В 22,5</td>
            <td>295</td>
            <td>F 200</td>
            <td>W6</td>
            <td>П3</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">350</td>
            <td>В 25</td>
            <td>327</td>
            <td>F 200</td>
            <td>W8</td>
            <td>П3</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">400</td>
            <td>В 30</td>
            <td>393</td>
            <td>F 200</td>
            <td>W8</td>
            <td>П3</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">450</td>
            <td>В 35</td>
            <td>458</td>
            <td>F 300</td>
            <td>W10</td>
            <td>П3</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">450</td>
            <td>В 40</td>
            <td>524</td>
            <td>F 300</td>
            <td>W12</td>
            <td>П3</td>
        </tr>
        <tr>
            <td style="font-weight: bold;">600</td>
            <td>В 45</td>
            <td>589</td>
            <td>F 300</td>
            <td>W12</td>
            <td>П3</td>
        </tr>
        </tbody>
    </table>
    <br>
    <p>При выборе бетона обратите внимание на то, что оптимальными условиями твердения бетона являются влажные условия. В условиях невысокой влажности воздуха затвердение бетона происходит крайне медленно, начинает страдать его качество. Это обусловлено процессом испарения в окружающую среду части влаги из смеси бетона. А нарастание прочности в уже высохшем бетоне останавливается.</p>
    <br>
    <p>В зависимости от требуемых свойств будущего изделия выбирается и марка бетона. Хорошей подвижностью должна обладать свежеприготовленная смесь. Она транспортируется в специализированных бетономешалках или изготавливается на месте, укладывается в подготовленную форму и с использованием вибрации, уплотняется. В течение первых 10 суток очень быстро увеличивается прочность.</p>
    <br>
    <p>В зависимости от сферы использования бетон подразделяется на:</p>
    <ul>
        <li>Общестроительные бетонные смеси (тяжёлый и легкий бетон).</li>
        <li>Специальный бетон (гидротехнический, декоративный, дорожный бетон, жаростойкий и химически стойкий).</li>
    </ul>
    <br>
    <p>Наилучшие показатели прочности у дорожной бетонной смеси — марка бетона от М 400. Он имеет также и наиболее высокие коэффициенты износо- и морозостойкости. В зависимости от агрессивности среды химический тип бетона содержит необходимые заполнители. Для жаростойкого типа в качестве заполнителя бетона могут использоваться шамот, динас или корунд. Большое количество заполнителя (гранитная или мраморная крошка) содержится у декоративного бетона. Для него вяжущим данного вещества выступает пигментированный портландцемент. Для производства бетона особой прочности используют суперпластификаторы, которые изменяют его свойства, структуру и регулируют химические процессы твердения и гидратации бетона.</p>
    <p>Класс бетона обозначается как «B-». Наиболее используемыми являются: В-7.5, B-10, B-12.5, B-15, B-20, B-22.5, B-25, B-30, B-35, B-40, хотя полный их спектр немного более: от 3.5 до 80. В основном выбор того или иного класса бетона определяется проектом здания или сооружения.</p>
    <br>
    <p>Для проверки соответствия привезенной на объект поставщиком смеси и заявленной марки и фактически потребуется 28 дней. Для этого из проб привезенного бетона отливают кубики размерами 15×15×15 и через 28 дней их расчетного затвердевания привозят в независимую лабораторию, где под прессом и выясняют принадлежность бетона к той или иной марке. В случае если отлить кубики не представилось возможным, или вы просто забыли это сделать — не беда. Те же лаборатории, выехав непосредственно на объект по истечении 28 дней после изготовления конструкции, могут при помощи спецоборудования произвести замеры и анализ соответствия заявленной марки и фактической из которой данная конструкция изготовлена.</p>
<br>
</div>

</div>

<style>
    .table {
    width: 100%;
    text-align: center;
    color: black;
}
    .breadcrumbs{
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 300;
    color: #ccc;
    }

.p{
    margin-top: 50px;
    margin-bottom: 100px;
}
</style>
{% endblock %}

