{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<body class="text-center">

<main class="form-signin">

  {% if from.errors %}
  <p>{{ from.erorrs.error }}</p>
  {% endif %}

  <form class="container p-3" method="post">
    {% csrf_token %}
    <h1 class="h3 mb-5 fw-normal">Вход на сайт</h1>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="id_username" name="username">
      <label for="id_username">Номер телефона</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="id_password" name="password">
      <label for="id_password">Пароль</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>

  </form>
</main>

</body>
{% endblock %}