{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Изменение пароля{% endblock %}

{% block content %}

<div class="container p-3">
  <center>
  <h2 class=" mb-2 fw-normal">Изменение пароля</h2>
  <p>В целях безопасности введите свой старый пароль, а затем дважды введите новый пароль, чтобы мы могли убедиться, что вы ввели его правильно.</p>
  </center>
  <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <center>
    <button class="btn btn-warning w-50" style="margin-bottom: 50px;" type="sumbit">Изменить пароль</button>
    </center>
  </form>
</div>
{% endblock %}

